.App {
  padding: 20px;
  overflow-x: hidden;
  text-transform: uppercase;
  text-align: center;
  background-color: #996435;
  background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
}
.row {
  display: flex;
  justify-content: center !important;
}
.book {
  margin-bottom: 50px;
}
.card {
  transition: 0.25s ease;
  background-color: #3d3c3c34 !important;
  box-shadow: 1px 1px 20px;
}
.card:hover {
  background-color: rgba(107, 107, 107, 0.445) !important;
  box-shadow: inset 1px 1px 20px;
}
.card-body {
  color: white;
  background-color: transparent;
}

.selected > .cart-body {
  color: black !important;
}
.selected {
  animation: zoominanout 1s linear infinite;
  background-color: #292929 !important;
  background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
}

@keyframes zoominanout {
  0% {
    transform: scale(1);
    box-shadow: 1px 1px 20px 7px;
  }
  50% {
    transform: scale(1.01);
    z-index: 1;
    box-shadow: 3px 3px 20px 14px;
  }
  100% {
    transform: scale(1);
    box-shadow: 1px 1px 20px 7px;
  }
}
